a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* キャッチ始点 */
.title-contents {
  width: 100vw;
  background-image: image-url('2817625.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 7vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}
/* キャッチ終点 */

/* アプリ紹介始点 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

.button-2 {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8rem;
  color: #00b5ad;
  text-decoration: none;
  user-select: none;
  border: 1px #00b5ad solid;
  border-radius: 20px;
  transition: 0.4s ease;
}

.button-2:hover {
  color: #fff;
  background: #00b5ad;
  text-decoration: none;
}
/* アプリ紹介終点 */

/* 新着情報始点 */
.post-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.post-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.post-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.post-img-content {
  position: relative;
}

.post-img {
  width: 33vh;
  height: 33vh;
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-title {
  font-size: 2.5vh;
}

.item-text {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}
/* 新着情報終点 */